html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #EEEEEE;
	overflow-x: hidden;
}

#header {
	height: 70px;
	background: #3F51B5;
	margin-bottom: 10px;
}

#notifications {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: red;
    margin-top: 10px;
    right: 30px;
    position: absolute;
    top: 0;
}

.containerRoom {
	height: 150px;
	background: transparent;
	padding: 10px;
}

.room {
	height: 100%;
	width: 100%;
	background: white;
}

#rootRoom {
	padding: 20px;
	margin-top: 10px;
}

.switch {
	width: 60px;
	height: 22px;
	background: #B0AFAF;
	border-radius: 35px;
	float: right;
	margin-top: 53px;
	margin-right: 20px;
}

.knob {
	width: 30px;
	height: 30px;
	margin-top: -5px;
	border-radius: 25px;
	background: #F1F1F1;
	transition: 0.4s;
}

#navigationDrawer {
	width: 300px;
	height: 100%;
	background: red;
	position: absolute;
	z-index: 2;
    margin-left: -300px;
    transition: 0.4s;
}

#menuImg {
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
}

#closeDrawer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
}

#forground {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 25px;
    position: absolute;
    border-radius: 50%;
/*    background: #3F51B5;*/
	background: purple;
}

#background {
    width: 0px;
    height: 0px;
    margin-top: 30px;
    margin-left: 50px;
    position: absolute;
    border-radius: 50%;
    background: #ff4081;
}

#btn {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 5px;
}